.containerTitle{
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 5px;
}
.editModeMainContainer{
    display: grid;
    grid-template-rows: 1.5fr 6fr 1.5fr;
    height: 100svh;
}
.editModeSecondaryContainer{
    display: grid;
    grid-template-columns: 2fr 6fr 6fr;
    gap: 10px;
}
#one{
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
}
#two{
    display: grid;
    grid-template-rows: 6fr 2fr;
}